<!-- This page should no longer display! -->

<h1>Edit <%= @team.roster_name %></h1>

<!-- Display errors if issues -->
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
  <p style="color:red;">// <%= e %></p>
  <% end %>
<% end %>

<!-- Form for changing team name etc -->
<%= form_for :team, url: user_team_path, method: :patch do |f| %>
  <%= f.text_field :roster_name %>
  <%= f.submit "Change Name"%>
<% end %>

<br>

<!-- Heros list -->
<% if @team.heros.count > 0 %>
  <p>Roster:</p>
  <% @team.heros.each do |h| %>
    <p><%= link_to h.name, hero_path(h) %></p>
    <!-- TODO link to remove hero from team -->
  <% end %>
<% end %>

<br>

<!-- Form for adding to hero team -->
<!-- Redirects back to this page -->
<% if @team.heros.count < 5 %>
  <%= form_for :team, url: add_heros_team_path, method: :patch do |f| %>
    <p>Add Hero:</p>
    <%= f.collection_select(:hero_id, Hero.all, :id, :name, {include_blank: "---", selected: 1}, {id: :team_hero_id_1}) %>
    <%= f.submit "Add Hero"%>
    <% end %>
<% end %>
<br>

<p><%= link_to "Add Hero to Database", new_hero_path %></p>

<!-- Return button -->
<p><%= link_to "Back to #{@user.name}", user_path(@user) %></p>
