<div class="title">

  <h4><%= @team.roster_name %></h4>

  <!-- <% if session[:user_id] && session[:user_id] == @team.user.id %>
  <p class="edit-team-bt"><%= link_to "Edit Team", edit_user_team_path(@user,@team) %></p>
  <% end %> -->

</div>


<div class="" style="color: white; background: black;">

  <% if session[:user_id] && session[:user_id] == @team.user.id && @team.heros.count < 5 %>

  <%= link_to "Find Hero For Team", add_hero_path, class: 'edit-team-bt' %>

  <% end %>

</div>




<% @heros.each do |h| %>
  <p><%= h.name %></p>
<% end %>

<%= link_to "Back to #{@user.name}", user_path(@user) %>
