<div style="">
  <h1 class="title">... Heroes!</h1>
</div>

  <div style="text-align: right; width: 99%;">
    <h2 class="subtitle">...or Search ComicVine!</h2>

    <%= form_tag(heros_search_path, method: :get) do  %>
    <%= text_field_tag :name, params[:name], style: "border: solid black 4px;"%>
    <%= submit_tag 'Search', class: "button", style: "font-size: 1em;" %>
    <% end %>
    <br>
  </div>

  <!-- <div class="link-box"><%= link_to "Add A Hero", new_hero_path %><br> </div><br> -->

  <% @heros.each do |h| %>
  <div class="char-index-box">
    <h3><%= link_to "#{h.name}...", h, class: "char-name" %></h3>

    <!-- If team is stored for adding heros -->
    <% if @team && @team.heros.count < 5 %>
      <% unless @team.heros.include?(h) %>
        <%= link_to "Add to #{@team.roster_name}" , add_hero_to_team_path(@team.user, @team, h.id), method: :post, class: "add-hero" %>
      <% end %>
    <% end %>

    <a href="<%= hero_path(h) %>">
      <img src="<%= h.image_url %>">
    </a>

  </div>
  <% end %>

  <% if flash[:array] %>
    <% flash[:array].each do |result| %>
    <%= result["name"] %> <br>
    <%= image_tag result["image_url"] %>
      <%= form_tag '/heros/create_from_api', method: :get do %>
        <%= hidden_field_tag "api_id", "#{result["api_id"]}" %>
        <%= submit_tag %>
      <% end %>
    <% end %> <br>
  <% end %>
