  <h1 class="title">ALL DA HEROES / HEROS</h1>

  <div class="link-box"><%= link_to "Add A Hero", new_hero_path %><br> </div><br>

  <!-- TODO Add API stuff -->

  <% @heros.each do |h| %>
  <div class="char-index-box">
    <h3><%= link_to h.name, h %></h3>
    <%= link_to image_tag("#{h.image_url}"), h %>

    <!-- If team is stored for adding heros -->
    <% if @team && @team.heros.count < 5 %>
      <% unless @team.heros.include?(h) %>
        <%= link_to "Add to #{@team.roster_name}" , add_hero_to_team_path(@team.user, @team, h.id), method: :post %>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <% if flash[:array] %>
    <% flash[:array].each do |result| %>
    <%= result["name"] %> <br>
    <%= image_tag result["image_url"] %>
      <%= form_tag '/heros/create_from_api', method: :get do %>
        <%= hidden_field_tag "api_id", "#{result["api_id"]}" %>
        <%= submit_tag %>
      <% end %>
    <% end %> <br>
  <% end %>
