<% if flash[:array] == [] %>
  <h2> No results Found! </h2>
  <%= link_to "Try Again", heros_path %>
<% elsif flash[:array] %>
  <% flash[:array].each do |result| %>
  <h2> <%= result["name"] %> <h2> <br>
  <div>
    <%= image_tag result["image_url"], class: "search-image" %>
  </div>
  <div>
      <%= form_tag '/heros/create_from_api', method: :get do %>
      <%= hidden_field_tag "api_id", "#{result["api_id"]}" %>
      <%= submit_tag "Add Hero", class: "button"%>
  </div>
    <% end %>
  <% end %> <br>
<% end %>
