<% if flash[:array] == [] %>
  <h2 class="brainiac"> No results Found! </h2>
  <%= link_to "Try Again", heros_path, class:"brainiac" %>
<% elsif flash[:array] %>
  <% flash[:array].each do |result| %>
  <div style="display: inline-block; max-width: 19%; margin-top: 2%;">
    <h2 class="subtitle"> <%= result["name"] %> <h2> <br>
    <div>
      <%= image_tag result["image_url"], class: "search-image" %>
    </div>
    <div>
        <%= form_tag '/heros/create_from_api', method: :get do %>
        <%= hidden_field_tag "api_id", "#{result["api_id"]}" %>
        <%= submit_tag "Add Hero", class: "button"%>
        <% end %>
    </div>
  </div>
  <% end %> <br>
<% end %>
