
<h1 style="background: blue;"><%= @hero.name %></h1> <br>
<div>
  <%= image_tag @hero.image_url %><br>
</div> <br>
<div style="background: blue;">
  <p><%= @hero.description %><br></p>
</div>
<div style="background: blue;">
  <h4> Behold the Power of <%= "#{@hero.name}" %></h4>
    <% @hero.powers.each do |power| %>
    <p><%= power.name %> </p>
  <% end %>
</div>

<div class="" style="background: yellow;">

<% if @teams.count > 0 %>
  <p>Currently part of:</p>
<% end %>

<% @teams.each do |t| %>
  <p><%= t.roster_name %></p>
<% end %>

<!-- Add hero to team if team exists / hero exists -->
<% if @team && !@team.heros.include?(@hero) && @team.heros.count < 5 %>
  <div class="">
    <p><%= link_to "Enroll #{@hero.name} in #{@team.roster_name}", add_hero_to_team_path(@team.user, @team, @hero), method: :post %></p>
  </div>
<% end %>

</div>
