<br> <div style="min-height: 100px; background: blue; padding: 30px; display: inline-block; text-align: left; margin: 5em; box-shadow: 5px 5px black;">

  <% if flash[:notify] %>
    <p class="brainiac">// <%= flash[:notify] %></p>


  <% end %>

  <%= form_tag sessions_path do %>
    <%= label_tag "Username" %>
    <%= text_field_tag :name %><br><br>
    <%= label_tag "Password" %>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag "Sign In" %>
  <% end %>

  <br>
  <br>
  <br>

  <%= link_to "... or create a new user!", new_user_path, class:"sign-up-bt" %>

</div>
