<div class="title">
  <h3><%= @user.name %></h3>

  <!-- Edit button if logged in -->
  <% if @user.id == session[:user_id] %>

    <p style="font-size: 0.4em"><%= link_to "Edit Profile", edit_user_path, class: "edit-user-bt"%></p>

  <% end %>

</div>


<!-- Teamlist divs -->
  <div class="user-team-list">

    <h2 style="border-bottom: dotted black 3px; border-top: dotted black 3px; font-family: 'Bangers', sans-serif;">Teams</h2>

      <% @teams.each do |t| %>
      <div class="user-team">
        <p style="color:black;"><span style='font-size:1.5em; text-decoration: underline;'><%= t.roster_name %></span>
<<<<<<< HEAD
          <% if session[:user_id] && session[:user_id] == @user.id  %>:<%= link_to "Add Hero", add_hero_path(@user, t), method: :get %>:<%= link_to "X", user_team_path(t), method: :delete %></p>
=======
          <% if session[:user_id] && session[:user_id] == @user.id  %>:<%= link_to "Add Hero", add_hero_path(@user, t), method: :get %>:<%= link_to "Remove", user_team_path(@user,t), method: :delete %></p>
>>>>>>> 4755aec22ece3e14f6f24149ce16d78448eebc00
          <% end %>

          <!-- Hero list -->
          <ul>
            <% t.heros.each do |hero| %>
              <li><%= link_to hero.name, hero %>
                <% if session[:user_id] && session[:user_id] == @user.id  %>
                  <%= link_to "x", remove_from_team_path(@user, t, hero), method: :delete %>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>
      <% end %><br>


      <div class="user-battles">
        <% if @battles != nil %>
          <% @battles.each do |battle| %>
            <section>
              <%= link_to "#{battle.name}", "/battles/#{battle.id}/fight" if battle%>
            </section>
          <% end %>
        <% end %>
      </div>

  </div>

  <!-- Add team area if logged in -->
  <% if @user.id == session[:user_id] %>
  <div style="float:left; display: inline-block;">

    <h1 class="title" style="font-size: 2em;">... or Build A New Team!</h1>

    <div class="edit-user">
      <%= form_for :team, url: user_teams_path(@user), method: :post do |f| %>
        <%= f.label :roster_name %>
        <%= f.text_field :roster_name %><br>
        <%= f.submit class: "edit-user-bt", style: "font-size: 0.4em"%>

      <% end %>
    </div>

  </div>
  <% end %>
