<h1 class="title">...Battles!</h1>

<div class="button" style="background-image: linear-gradient(#cc0000,#1a1100); display:inline-block;float:left;clear:both;">

  <h3 style="margin-bottom: 0;">Set Up Fight</h3>

<%= form_for @battle do |f| %>

  <%= f.collection_select :team_id1, @teams, :id, :roster_name, {:include_blank => '...'}, {class: "drop-select"} %>

  <p style="font-family: 'Bangers', sans-serif; font-size: 1.5em; display: inline-block;">vs</p>

  <%= f.collection_select :team_id2, @teams, :id, :roster_name, {:include_blank => '...'}, {class: "drop-select"} %>

  <br>

  <%= f.submit "Fight!", class: "button"%>

<% end %>

</div>

<% @battles.each do |battle| %>

  <section class='battle-tab'>
    <h2 class="subtitle"><%= battle.name %></h2> <br>
    <%= link_to "...rematch?", "/battles/#{battle.id}/fight", class: "button", style: "padding: 0.5em; text-decoration: none;" %>
  </section>

<% end %>
