<h1><%= @battle.name %></h1>

<% if flash["winner"] %> <br>

<script>
$(document).ready(function(){
    $("#duel1-show").click(function(){
        $(".duel1").show();
    });
    $("#duel1-show").click(function(){
        $(".duel1-show").hide();
    });
    // $("#duel1-show").click(function(){
    //     $(".duel1").animate({left: '250px'});
    // });
});

$(document).ready(function(){
    $("#duel2-hide").click(function(){
        $(".duel2").hide();
    });
    $("#duel2-show").click(function(){
        $(".duel2").show();
    });
    $("#duel2-show").click(function(){
        $(".duel2-show").hide();
    });
});

$(document).ready(function(){
    $("#duel3-hide").click(function(){
        $(".duel3").hide();
    });
    $("#duel3-show").click(function(){
        $(".duel3").show();
    });
    $("#duel3-show").click(function(){
        $(".duel3-show").hide();
    });
});

$(document).ready(function(){
    $("#duel4-hide").click(function(){
        $(".duel4").hide();
    });
    $("#duel4-show").click(function(){
        $(".duel4").show();
    });
    $("#duel4-show").click(function(){
        $(".duel4-show").hide();
    });
});

$(document).ready(function(){
    $("#duel5-hide").click(function(){
        $(".duel5").hide();
    });
    $("#duel5-show").click(function(){
        $(".duel5").show();
    });
    $("#duel5-show").click(function(){
        $(".duel5-show").hide();
    });
});

$(document).ready(function(){
    $("#winner-hide").click(function(){
        $(".winner").hide();
    });
    $("#winner-show").click(function(){
        $(".winner").show();
    });
    $("#winner-show").click(function(){
        $(".winner-show").hide();
    });
});
</script>

<ul class=>
  <li><h5 class="duel1" style="display:none"><%= flash["duels"][0] %></h5>  <button class="duel1-show" id="duel1-show">Show</button>  </li>
  <li><h5 class="duel2" style="display:none"><%= flash["duels"][1] %></h5>  <button class="duel2-show" id="duel2-show">Show</button>  </li>
  <li><h5 class="duel3" style="display:none"><%= flash["duels"][2] %></h5>  <button class="duel3-show" id="duel3-show">Show</button>  </li>
  <li><h5 class="duel4" style="display:none"><%= flash["duels"][3] %></h5>  <button class="duel4-show" id="duel4-show">Show</button>  </li>
  <li><h5 class="duel5" style="display:none"><%= flash["duels"][4] %></h5>  <button class="duel5-show" id="duel5-show">Show</button>  </li>
</ul>

<article>
<h3 class="winner" style="display:none"><%= flash["winner"]  %> </h3>
<button class="winner-show" id="winner-show">Show</button>
</article>
<% end %>
<br>
<br>

<div>
  <%= @battle.team1.roster_name %>
  <% @battle.team1.heros.each do |hero| %>
  <ol>
    <li><%= hero.name %></li>
  </ol>
  <% end %>
</div>

<div>
  <%= @battle.team2.roster_name %>
  <% @battle.team2.heros.each do |hero| %>
    <ol>
      <li><%= hero.name %></li>
    </ol>
  <% end %>
</div>

<%= link_to "Fight these Heroes", battle_fight_path %>
