<!-- After a win is shown -->
<% if flash["winner"] %> <br>

<script>

$(document).ready(function(){
  $(".rosters, .button").fadeOut(1).delay(6500).fadeIn(500);
});

$(document).ready(function(){
  $('.button').text('...rematch?')
});

// Change color on P2 win
$(document).ready(function(){
  $('.duel:contains("WAS")').each(function(){
    $(this).css('color','blue');
    $(this).css('border','solid 4px blue')
  });
});

//Change color on tie
$(document).ready(function(){
  $('.duel:contains("tied")').each(function(){
    $(this).css('color','grey');
    $(this).css('border','solid 4px grey')
  });
});

$(document).ready(function(){
    $(".duel1").fadeOut(1).delay(1000).fadeIn(500);
});

$(document).ready(function(){
    $(".duel2").fadeOut(1).delay(2000).fadeIn(500);
});

$(document).ready(function(){
    $(".duel3").fadeOut(1).delay(3000).fadeIn(500);
});

$(document).ready(function(){
    $(".duel4").fadeOut(1).delay(4000).fadeIn(500);
});

$(document).ready(function(){
    $(".duel5").fadeOut(1).delay(5000).fadeIn(500);
});

$(document).ready(function(){
    $(".winner").delay(6000).fadeIn(1000);
});

</script>

  <h1 class="title"><%= @battle.name %></h1>

<!-- Matchups results -->

<div>

  <h5 class="duel1 duel"><%= flash["duels"][0] %></h5>

  <h5 class="duel2 duel"><%= flash["duels"][1] %></h5>

  <h5 class="duel3 duel"><%= flash["duels"][2] %></h5>

  <h5 class="duel4 duel"><%= flash["duels"][3] %></h5>

  <h5 class="duel5 duel"><%= flash["duels"][4] %></h5>

</div>

<!-- Fight result -->
<article>
  <h3 class="winner duel" style="font-size: 1.5em"><%= flash["winner"]  %> </h3>
</article>
<br>
<% end %>
<!-- end of if winner condition -->

<% unless flash["winner"] %>
  <h1 class="title">...are you ready?!?</h1>
<% end %>

<!-- The rosters shown either immedaitely or at the end -->
<div class="rosters">

  <!-- Roster 1 -->
  <div class="roster team1">
    <h2><%= @battle.team1.roster_name %></h2>
    <% @battle.team1.heros.each do |hero| %>
    <p><%= hero.name %></p>

    <% unless @battle.team2.heroes.last == hero %>
      <p> * </p>
    <% end %>

  <% end %>
  </div>

  <p style="display:inline-block; font-family: 'Permanent Marker', sans-serif; font-size: 2em; background: black; color:white;">vs</p>

  <!-- Roster 2 -->
  <div class="roster team2">
    <h2><%= @battle.team2.roster_name %></h2>
    <% @battle.team2.heros.each do |hero| %>
        <p><%= hero.name %></p>

        <% unless @battle.team2.heroes.last == hero %>
          <p> * </p>
        <% end %>

    <% end %>
  </div>
  <!-- end rosters -->

</div>

<br>

<div class="rematch" data-turbolinks="false">
<%= link_to "Fight!", battle_fight_path, class: "button", style: "padding: 0.4em; text-decoration: none;"%>
</div>
