<!DOCTYPE html>
<html>
  <head>
    <title>Comicbook Battler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="main">

      <!-- Navbar -->
      <header>
        <div class="h-left">
          <p style="margin:0"><%= link_to "Users", users_path %> | <%= link_to "Hero(e)s", heros_path %> | <%= link_to "Powers", powers_path %></p>
        </div>

        <!-- The login/logout space -->
        <div class="h-right">
          <% if !session[:user_id] %>

          <!-- If logged out -->
            <%= form_tag sessions_path do %>
              <p style='margin:0;'>Username:</p>
              <%= text_field_tag :name, nil, class: 'login-field' %>
              <p style='margin:0;'>Password:</p>
              <%= password_field_tag :password, nil, class:'login-field' %>
              <%= submit_tag "Sign In" %>

            <% end %>

          <% else %>

          <!-- If logged in -->
            <%= link_to User.find_by(id: session[:user_id]).name, User.find_by(id: session[:user_id]), class: "link-to" %>
            <p style="margin-block-start: 0">||</p>
            <%= link_to "Logout", sessions_path, method: :delete %>

          <% end %>
        </div>

      </header><br>

      <%= yield %>

      <!-- <footer>
        TODO footer goes here?
      </footer> -->

    </div>
  </body>
</html>
