<!DOCTYPE html>
<html>
  <head>
    <title>Comicbook Battler</title>
    <%= csrf_meta_tags %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald|Permanent+Marker|Press+Start+2P|Sigmar+One" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- // Changes background -->
    <script type="text/javascript">
    $(document).ready(function() {
      $('.main').css("background-image", `url('${bg}')`);
    });

    // Turbolinks fix for background change
    $(document).on('turbolinks:load' ,function() {
      $('.main').css("background-image", `url('${bg}')`);
    });
    </script>

  </head>
  <body>
    <div class="main">

      <!-- Navbar -->
      <header>
        <div class="h-left">
          <p style="margin:0"><%= link_to "Users", users_path %> | <%= link_to "Hero(e)s", heros_path %> | <%= link_to "Battles", battles_path %></p>
        </div>

        <!-- Login/login -->
        <div class="h-right">
          <% if !session[:user_id] %>

          <!-- If logged out -->
            <%= form_tag sessions_path do %>
              <p style='margin:0;'>Username:</p>
              <%= text_field_tag :name, nil, class: 'login-field' %>
              <p style='margin:0;'>Password:</p>
              <%= password_field_tag :password, nil, class:'login-field' %>
              <%= submit_tag "Sign In" %>

            <% end %>

          <% else %>

          <!-- If logged in -->
            <%= link_to "#{User.find_by(id: session[:user_id]).name}'s Profile", User.find_by(id: session[:user_id]), class: "link-to" %>
            <p style="margin-block-start: 0"> | </p>
            <%= link_to "Logout...", sessions_path, method: :delete %>

          <% end %>
        </div>

      </header><br>

      <%= yield %>

      <!-- <footer>
        TODO footer goes here?
      </footer> -->

    </div>
  </body>
</html>
