<!DOCTYPE html>
<html>
  <head>
    <title>Comicbook Battler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="main">

      <header>
        <div class="h-left">
          <p><%= link_to "Users", users_path %> | <%= link_to "Hero(e)s", heros_path %> | <%= link_to "Powers", powers_path %></p>
        </div>

        <div class="h-right">
          <% if true %>
          <%= form_tag sessions_path do %>
            <p style='margin:0;'>Username:</p>
            <%= text_field_tag :name, nil, class: 'login-field' %>
            <p style='margin:0;'>Password:</p>
            <%= password_field_tag :password, nil, class:'login-field' %>
            <%= submit_tag "Sign In" %>
          <% end %>
          <% else %>
          <% end %>
        </div>

      </header><br>

      <%= yield %>

      <footer>
        <!-- TODO footer goes here? -->
      </footer>

    </div>
  </body>
</html>
