<!DOCTYPE html>
<html>
  <head>
    <title>Comicbook Battler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p style="display: inline"><%= link_to "Users", users_path %></p>
      <p style="display: inline"><%= link_to "Hero(e)s", heros_path %></p>
      <p style="display: inline"><%= link_to "Powers", powers_path %></p>
    </header>

    <%= yield %>
  </body>
</html>
